<!DOCTYPE html>
<html>
  <head>
    <title>RailsTest</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="turbo-cache-control" content="no-cache">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="antialiased text-neutral-900 bg-neutral-50">
    <div x-data="{ navOpen: false }" class="min-h-full">
      <nav class="border-b border-neutral-200 bg-white">
        <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
          <div class="flex h-16 justify-between">
            <div class="flex">
              <%= yield :nav_menu_desktop %>
            </div>
            <div class="-mr-2 flex items-center sm:hidden">
              <!-- Mobile menu button -->
              <button
                x-on:click="navOpen = !navOpen"
                type="button"
                class="
                  relative inline-flex items-center justify-center rounded-md bg-white p-2
                  text-neutral-400 hover:bg-neutral-100 hover:text-neutral-500 focus:outline-none
                  focus:ring-2 focus:ring-teal-500 focus:ring-offset-2
                "
                aria-controls="mobile-menu"
                aria-expanded="false"
              >
                <span class="absolute -inset-0.5"></span>
                <span class="sr-only">Open main menu</span>
                <svg
                  :class="{ 'hidden': navOpen, 'block': !(navOpen) }"
                  class="block h-6 w-6"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  aria-hidden="true"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
                  />
                </svg>
                <svg
                  :class="{ 'block': navOpen, 'hidden': !(navOpen) }"
                  class="hidden h-6 w-6"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  aria-hidden="true"
                >
                  <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"/>
                </svg>
              </button>
            </div>
          </div>
        </div>
        <div x-show="navOpen" class="sm:hidden" id="mobile-menu">
          <%= yield :nav_menu_mobile %>
        </div>
      </nav>
      <header class="bg-white shadow">
        <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
          <%= yield :header %>
        </div>
      </header>
      <main>
        <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8 mb-16">
          <% if notice.present? %>
            <div
              x-data="{ open: true }"
              x-show="open"
              x-init="setTimeout(() => { open = false }, 4000)"
              x-transition:leave="transition-all ease-in duration-200"
              x-transition:leave-start="opacity-100 scale-100"
              x-transition:leave-end="opacity-0 scale-90"
              class="
                mb-4 rounded-lg bg-green-50 p-4 border border-emerald-500/20
              "
            >
              <div class="flex items-center justify-between">
                <div class="flex">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="w-5 h-5 text-green-500"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
                    />
                  </svg>
                  <div class="ml-3">
                    <p class="text-sm font-medium text-green-900" id="notice"><%= notice %></p>
                  </div>
                </div>
                <svg
                  x-on:click="open = false"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  class="w-5 h-5 text-green-900 cursor-pointer"
                >
                  <path
                    d="M6.28 5.22a.75.75 0 0 0-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 1 0 1.06 1.06L10 11.06l3.72 3.72a.75.75 0 1 0 1.06-1.06L11.06 10l3.72-3.72a.75.75 0 0 0-1.06-1.06L10 8.94 6.28 5.22Z"
                  />
                </svg>
              </div>
            </div>
          <% end %>
          <%= yield %>
        </div>
      </main>
    </div>
  </body>
</html>
